<html>
  <head>
      <!-- the slash before assets means look for assets folder from base url not current url -->
    <link href="/assets/style.css" type="text/css" rel="stylesheet" />
  </head>
  <body>
    <form method="POST" action="postExample">
        choose first param : <input type="text" id="firstParam" name="firstParam"/> 
        <br/>
        choose second param : <input type="text" id="secondParam" name="secondParam"/> 
        <br/>
        <input type="submit" value="submit"/>
    </form>
  </body>
</html>
