<html>
  <head>
      <!-- the slash before assets means look for assets folder from base url not current url -->
    <link href="/assets/style.css" type="text/css" rel="stylesheet" />
  </head>
  <body>
    <h1>param is : <%= customParam %></h1>
  </body>
</html>
